.header {
  background-color: $beigeColor;
  padding: 54px 0px;

  @media screen and (max-width: 769px) {
    & {
      padding: 20px 0px 34px 0px;
    }
  }
  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 769px) {
      & {
        flex-flow: column nowrap;
      }
    }
  }
  &__logo {
    font-size: $subFontThemeSize;
    font-weight: 700;
    font-style: italic;
    text-decoration-line: underline;
    color: $subBlackColor;
    line-height: 125%;
    @media screen and (max-width: 769px) {
      & {
        margin-bottom: 20px;
      }
    }
  }
  &__nav {
  }
  &__icons {
    display: flex;
    flex-flow: row nowrap;
  }
  &__iconLink {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.header-nav {
  &__list {
    display: flex;
    flex-flow: row nowrap;
    @media screen and (max-width: 769px) {
      & {
        margin-bottom: 25px;
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
    transition: 0.5s;
    &:hover {
      color: $brownColor;
    }
  }
  &__link {
    color: inherit;
    font-size: $navFontSize;
    line-height: 125%;
  }
}
