.page {
  &__entry {
  }
  &__partners {
  }
  &__product {
  }
  &__statistics {
  }
}

// entry block

.entry {
  background-color: $beigeColor;
  &__container {
  }
  &__body {
    background: url("../img/pages/main-block/mainBack.png") top right no-repeat;
    @media screen and (max-width: 1025px) {
      & {
        background: url("../img/pages/main-block/mainBack.png") center / contain no-repeat;
      }
    }
  }
  &__inner {
    @media screen and (max-width: 769px) {
      & {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__heading {
    padding: 55px 0px 30px 0px;
    max-width: 620px;

    @media screen and (max-width: 769px) {
      & {
        margin: 35px 0px 40px 0px;
        font-size: 49px;
        max-width: none;
        text-align: center;
      }
    }
    @media screen and (max-width: 481px) {
      & {
        padding: 35px 0px 40px 0px;
        margin: 0px 0px 0px 0px;
        font-size: 40px;
        max-width: none;
        text-align: center;
      }
    }
  }
  &__text {
    max-width: 516px;
    margin: 0px 0px 30px 0px;

    @media screen and (max-width: 769px) {
      & {
        margin: 0 auto 30px auto;
        text-align: center;
      }
    }
    @media screen and (max-width: 481px) {
      & {
        font-size: 16px;
      }
    }
  }
  &__form {
    margin: 0px 0px 60px 0px;
    @media screen and (max-width: 769px) {
      & {
        padding: 11px 8px;
        margin: 0 30px 20px 30px;
        max-width: none;
      }
    }
  }
  &__shopButton {
    @media screen and (max-width: 769px) {
      & {
        margin: 0px 30px 70px 30px;
      }
    }
  }
  &__image {
  }
  &__arrows {
    display: flex;
    padding: 49px 0px;
    max-width: 145px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    @media screen and (max-width: 769px) {
      & {
        display: none;
      }
    }
  }
  &__arrow {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
.inputForm {
  &__input {
  }
  &__button {
  }
}
.button {
  transition: 0.5s;
  &__link {
  }
  &:hover {
    background-color: $beigeColor;
    outline: 1px solid $brownColor;
    color: $brownColor;
  }
}

// --------------------------------------- //

// partners block

.partners {
  &__container {
  }
  &__body {
    border-top: 1px solid $linesGrayColor;
    border-bottom: 1px solid $linesGrayColor;
    margin: 130px 32px;
    padding: 41px 0px;
    @media screen and (max-width: 900px) {
      & {
        padding: 10px 20px;
        margin: 40px 52px;
      }
    }
    @media screen and (max-width: 577px) {
      & {
        padding: 10px 20px;
        margin: 40px 12px;
      }
    }
    @media screen and (max-width: 400px) {
      & {
        padding: 10px 20px;
        margin: 20px 12px;
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      & {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
    @media screen and (max-width: 577px) {
      & {
        justify-content: space-between;
      }
    }
  }
  &__item {
    @media screen and (max-width: 900px) {
      & {
        min-width: 200px;
        margin: 20px 0px;
        text-align: center;
      }
    }
    @media screen and (max-width: 577px) {
      & {
        min-width: 130px;
        margin: 20px 10px;
        text-align: center;
      }
    }
    @media screen and (max-width: 400px) {
      & {
        min-width: 57px;
        margin: 10px 10px;
        text-align: center;
      }
      & img {
        width: 50px;
      }
    }
    @media screen and (max-width: 327px) {
      & {
        min-width: 50px;
        margin: 10px 10px;
        text-align: center;
      }
      & img {
        width: 50px;
      }
    }
  }
}

// --------------------------------------- //

// partners block

.product {
  &__container {
  }
  &__heading {
    @media screen and (max-width: 900px) {
      & h2 {
        font-size: 48px;
      }
    }
    @media screen and (max-width: 769px) {
      & h2 {
        font-size: 38px;
        text-align: center;
      }
    }
    @media screen and (max-width: 481px) {
      & h2 {
        font-size: 30px;
      }
    }
  }
  &__info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      & {
        display: block;
      }
    }
  }
  &__text {
    max-width: 714px;
    @media screen and (max-width: 769px) {
      & {
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
      }
    }
    @media screen and (max-width: 481px) {
      & {
        font-size: 16px;
      }
    }
  }
  &__link {
    font-size: $subFontThemeSize;
    line-height: 125%;
    font-weight: 500;
    color: inherit;
    &::after {
      content: "";
      padding-right: 40px;
      width: 50px;
      height: 50px;
      background: url("../img/icons/product/arrow.svg") center no-repeat;
    }
    @media screen and (max-width: 1024px) {
      & {
        display: block;
        text-align: center;
        margin: 30px 0px 0px 0px;
      }
    }
    @media screen and (max-width: 769px) {
      & {
        font-size: 18px;
      }
    }
  }
  &__examples {
    margin: 60px 0px 130px 0px;
    display: flex;
    @media screen and (max-width: 769px) {
      & {
        margin: 40px 0px 70px 0px;
      }
    }
    @media screen and (max-width: 680px) {
      & {
        display: block;
        text-align: center;
      }
    }
  }
  &__example {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
.example {
  flex: 0 1 50%;
  @media screen and (max-width: 680px) {
    & {
      display: block;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__image {
    display: block;
    padding: 0px 0px 100% 0px;
    @media screen and (max-width: 680px) {
      & {
        padding: 0px 0px 50% 0px;
      }
    }
  }
  &__info {
    border-bottom: 1px solid #e3e0df;
    border-right: 1px solid #e3e0df;
    border-left: 1px solid #e3e0df;

    padding: 20px 32px 32px 32px;
  }
  &__name {
    font-size: $productFontSize;
    font-weight: 500;
    line-height: 150%;
    @media screen and (max-width: 900px) {
      & {
        font-size: 30px;
      }
    }
    @media screen and (max-width: 769px) {
      & {
        font-size: 25px;
      }
    }
    @media screen and (max-width: 481px) {
      & {
        font-size: 23px;
      }
    }
  }
  &__description {
    margin: 16px 0px 47px 0px;
    max-width: 516px;
    @media screen and (max-width: 769px) {
      & {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 481px) {
      & {
        font-size: 14px;
        margin: 16px 0px 27px 0px;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1044px) {
      & {
        display: block;
        text-align: center;
      }
    }
  }
  &__nav {
    display: flex;
    @media screen and (max-width: 1044px) {
      & {
        justify-content: center;
      }
    }
    @media screen and (max-width: 900px) {
      & {
        display: block;
      }
    }
  }
  &__buyButton {
    margin-right: 24px;
    @media screen and (max-width: 900px) {
      & {
        display: block;
        margin-right: 0px;
      }
    }
  }
  &__buy {
  }
  &__cartButton {
    background-color: #ffffff;
    border: 1px solid $brownColor;
    color: $brownColor;
    &:hover {
      background-color: $brownColor;
      outline: none;
      color: #ffffff;
    }
    @media screen and (max-width: 900px) {
      & {
        display: block;
        margin: 20px 0px 0px 0px;
      }
    }
  }
  &__cart {
    color: inherit;
  }
  &__price {
    font-size: 30px;
    line-height: 106%;
    font-weight: 500;
    padding-left: 20px;
    @media screen and (max-width: 1044px) {
      & {
        font-size: 40px;
        padding: 0px 0px 0px 0px;
        margin-top: 20px;
      }
    }
    @media screen and (max-width: 481px) {
      & {
        font-size: 30px;
        padding: 0px 0px 0px 0px;
        margin-top: 20px;
      }
    }
  }
}

// --------------------------------------- //

// statistics block

.statistics {
  background-color: $beigeColor;
  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
    padding: 58px 75px;
    @media screen and (max-width: 600px) {
      & {
        display: block;
        padding: 38px 0px;
      }
    }
  }
  &__item {
    text-align: center;
    @media screen and (max-width: 600px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__label {
    display: inline-block;
    font-weight: 600;
    border-bottom: 4px solid #000000;
    @media screen and (max-width: 900px) {
      & {
        font-size: 50px;
      }
    }
    @media screen and (max-width: 769px) {
      & {
        font-size: 40px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        font-size: 30px;
      }
    }
  }
  &__text {
    margin-top: 30px;
    font-size: 24px;
    line-height: 125%;
    @media screen and (max-width: 900px) {
      & {
        font-size: 20px;
        margin-top: 26px;
      }
    }
    @media screen and (max-width: 769px) {
      & {
        font-size: 16px;
        margin-top: 20px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}
// --------------------------------------- //
