// Color palette
$mainBackgrColor: #ffffff;
$brownColor: #402f2c;
$beigeColor: #fdf8f5;
$grayColor: #dddddd;
$subBlackColor: #222222;
$subGrayColor: #555555;
$linesGrayColor: #eeeeee;

//Font Sizes
$h1FontSize: 56px;
$h2FontSize: 56px;
$h3FontSize: 36px;
$h4FontSize: 30px;
$subFontSize: 20px;
$subFontThemeSize: 24px;
$productFontSize: 40px;
$priceFontSize: 30px;
$buttonFontSize: 18px;
$navFontSize: 16px;
$logoFontSize: 24px;
$footerFontSize: 18px;
